
/*头部开始*/
	nav.publie_nav{
		height: 56px;
		background-color:#29bde0;
	}
	.publie_nav a{
		position: absolute;
		top:0;
		height: 100%;
		width: 45px;
		background: url("../../images/7img.png") no-repeat;
		background-size: 166px;
	}
	.publie_nav a.bg_img1{
		left: 0;
		background-position: -51px 3px;
	}
	.publie_nav a.bg_img2{
		right: 0;
		background-position: -118px 3px;
	}
	.publie_nav p{
		height: 56px;
		line-height: 56px;
		color:#fff;
		text-align: center;
		font-size: 2rem;
	}
	aside .mess_info{
		position: relative;
		height: 52px;
		line-height: 52px;
		background-color: #b9e9f5;
		font-size: 1.6rem;
		padding-left: 20px;
	}
	aside .mess_info p i{
		display: inline-block;
		width: 52px;
		height: 52px;
		background: url("../../images/7img.png") no-repeat;
		background-size: 160px;
		background-position: -4px -64px;
	}
	aside .mess_info span.triangle{
		position: absolute;
		left: 30px;
		top:42px;
		width: 20px;
		height: 20px;
		transform: rotate(45deg);
		background-color: #b9e9f5;
	}
	aside .mess .more{
		margin:20px 30px;
		color: #fff;
	}
/*头部结束*/

/*内容开始*/
	.row .col-xs-4{
		text-align: center;
	}
	div.person{
		background-color: #f5c97b;
		border:2px solid #fff;
	}
	div.person p.role{
		padding:20% 0;
	}
	div.person p.num{
		color:#fff;
		background-color: #83b09a;
		padding:5% 0;
	}
	div.choose{
		margin: 10px auto;
    	width: 25vw;
    	height: 4.425vw;
    	filter: Alpha(opacity=0);  /*兼容IE*/
    	-moz-opacity:0; /*老版本ff*/
    	opacity: 0;

	}
	div.col-xs-4:hover div.choose{
		filter: Alpha(opacity=100);  /*兼容IE*/
    	-moz-opacity:1; /*老版本ff*/
    	opacity: 1;
	}
	div.choose span{
		display: inline-block;
		width: 4.425vw;
    	height: 100%;
   	 	margin-right: 0.625vw;
    	background-size: 100% 100%;
    	background-repeat: no-repeat;
    	background-color: white;

	}
	div.choose span:nth-child(1){
		background-image: url(../../images/7-3.png);
	}
	div.choose span:nth-child(2){
		background-image: url(../../images/7-4.png);
	}
	div.choose span:nth-child(3){
		background-image: url(../../images/7-1.png);
	}
	div.choose span:nth-child(4){
		background-image: url(../../images/7-2.png);
	}

/*内容结束*/

/*底部开始*/
	#foot{
		background-color:#29bde0;
	}
	#foot div{
		height: 52px;
		margin:0px 20px;
		border-top:1px solid orange;
		text-align: center;
		margin-bottom: 20px;
	}
	#foot div a{
		display: inline-block;
		width: 80%;
		margin-top: 10px;
		color:#fff;
		font-size: 2rem;
		padding:10px 10px;
		background-color: #fbb435;

	}
/*底部结束*/

/*结果页样式*/
	/*头部*/
		#result_nav{
			height: 65px;
			line-height: 65px;
			border-bottom: 1px solid #74d4eb;
		}
		.publie_nav p,.publie_nav a{
			height: 65px;
			line-height: 65px;
		}
		.publie_nav a.result_img1{
			left: 10px;
			background-position: -1px 10px;
		}
		.publie_nav a.result_img2{
			right: 10px;
			background-position: -54px -63px;
		}
	/*头部结束*/
	/*内容开始*/
		.result_success{
			background-color:#29bde0;
		}
		.result_success .logo{
			width: 54.84vw;
		    height: 32.03vw;
		    margin: 0 auto;
		    background-image: url("../../images/7logo.png");
		    background-size: 100% 100%;
		    background-repeat: no-repeat;
		}
		.result_success .txt1,.txt2{
			width: 80%;
		    margin: 0 auto;
		}
		.result_success .txt1 p{
			color:#ffc865;
			font-size: 1.8rem;
			font-weight: bold;
		}
		.result_success .txt2{
			margin-top: 20px;
			color: #fff;
			padding-bottom: 10px;
		}
		.result_success .txt2 p{
			margin-bottom: 5px;
		}
		.txt2 .row .col-xs-4{
			padding:0;
		}
		.result_history div.day{
			width: 80%;
			margin:10px auto;
			color: #999;
		}
		.result_history div.day h4{
			color: #666;
			margin-bottom: 10px;
		}
		.result_history div.day h4 span:nth-child(2){
			color: #ccc;
			font-size: 1.4rem;
		}
		.result_history div.line{
			width: 100%;
			height: 1px;
			background-color: #ccc;
		}
	/*内容结束*/
	/*底部开始*/
		#result_foot{
			background-color: rgba(153,223,240,0.5);
			z-index: 2;
			height: 65px;
		}
		#result_foot div{
			position: absolute;
			width: 100%;
			left:50%;
			top:0;
			margin-left: -50%; 
			z-index: 6;
			text-align: center;
			margin-top: 10px;
		}
		#result_foot div a{
			display: inline-block;
			width: 40%;
			height: 45px;
			line-height: 45px;
			border-radius: 5px;
			text-align: center;
			color:#fff;
			font-size: 2rem;
		}
		#result_foot div a.again{
			background-color: #f66f6f;
			margin-right:10%;
		}
		#result_foot div a.share{
			background-color: #fbb435
		}
	/*底部结束*/


