.hezuo-nav{
	background-color: #fff;
	border:1px solid #eee;
}
.hezuo-nav  .nav-list{
	font-size: 14px;
	font-size: 1.4rem;
	text-align: center;
	padding-left: 0px;
}
.hezuo-nav  .nav-list li{
    width: 95px;
    margin: 0 auto;
	list-style: none;
	text-align: left;
	margin-top: 20px;
}
.hezuo-nav  .nav-list .nav-header{
	text-align: center;
}
.hezuo-nav  .nav-list li a{
	color: #2eb27b;
}
.hezuo-nav  .nav-list li:hover a{
	color:#fb8c4d;
	text-decoration: none;
}
.hezuo-nav  .nav-list li i{
	display: inline-block;
	width: 12px;
	height: 12px;
	border:1px solid #ff6501;
	border-radius: 50%;
	margin-right: 8px;
}
.hezuo-nav  .nav-list li.active i{
	background-color: #fb8c4d;
}
.hezuo-nav  .nav-list li.active a{
	color: #fb8c4d;
}
.hezuo-content{
	background-color: #fff;
	border:1px solid #eee;

}
.hezuo-content p{
	text-align: justify;
	line-height: 35px;
	text-indent: 2em;
	font-size: 14px;
	font-size: 1.4rem;
	margin:0 10px;
	color: #999;

}